@import "../variables.css";

.allDirections {
  width: 100%;
  height: 100%;
  position: relative;
}

.allDirections > * {
  position: absolute;
  background: var(--dark-buttons-color);
  border: none;
}

.allDirections > *:nth-child(1) {
  left: 35%;
  top: 7%;
}

.allDirections > *:nth-child(2) {
  left: 12.5%;
  top: 32%;
  transform: rotate(-90deg);
}

.allDirections > *:nth-child(3) {
  left: 35%;
  bottom: 13.5%;
  transform: rotate(180deg);
}

.allDirections > *:nth-child(4) {
  right: 23.5%;
  top: 32%;
  transform: rotate(90deg);
}

.buttonCenter {
  position: absolute;
  height: 20%;
  width: 19%;
  top: 37%;
  left: 35%;
}

.buttonCenter::after {
  position: absolute;
  content: "";
  height: 32%;
  width: 30%;
  top: 38%;
  left: 38%;
  border: calc(var(--dex-total-height) / 200) solid #00201d;
  border-radius: 50%;
  transform: translate(-28%, -28%);
  background-color: #00201d;
}
