@import "../variables.css";

.gridArea {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 1.5fr 2.5fr 1.5fr;
  grid-template-areas:
    "top top right"
    "middle middle right"
    ". . .";
}

.gridArea > div.top {
  grid-area: top;
  background-color: green;
}

.gridArea > div.middle {
  grid-area: middle;
  background-color: yellow;
}

.gridArea > div.right {
  grid-area: right;
}
