@import "../variables.css";

.hinge {
  background: var(--hinge-color);
  height: var(--dex-total-height);
  width: var(--dex-hinge-width);
  position: relative;
  z-index: 1;

  border-left: 1px solid var(--primary-dex-shadow-color);
  border-right: 1px solid var(--primary-dex-shadow-color);
}

.hinge::after {
  content: "";
  width: var(--dex-hinge-width);
  height: calc(var(--dex-hinge-width) / 2);
  background: var(--hinge-color);
  border-radius: 50%;
  position: absolute;
  bottom: calc((var(--dex-hinge-width) / -4) + 2px);
  z-index: 1;
}

.hinge::before {
  content: "";
  width: var(--dex-hinge-width);
  height: calc(var(--dex-hinge-width) / 2);
  background: var(--hinge-color);
  border-radius: 50%;
  position: absolute;
  top: calc((var(--dex-hinge-width) / -4) + 2px);
  z-index: -1;
}
