@import '../variables.css';

.rightPanel {
    background-color: var(--primary-dex-color);
    height: var(--dex-total-height);
    width: var(--dex-panel-width);
    border-top-right-radius: var(--dex-border-radius);
    border-bottom-right-radius: var(--dex-border-radius);
    position: relative;
}

.rightPanel::after {
    position: absolute;
    content: '';
    height: calc(var(--dex-total-height)/4);
    width: var(--dex-panel-width);
    bottom: calc(var(--dex-total-height) * -0.05);
    left: 0px;
    background-color: var(--primary-dex-shadow-color);
    border-bottom-right-radius: var(--dex-border-radius);
    border-bottom-left-radius: calc(var(--dex-border-radius)/3);
    z-index: -1;
}

