:root {
  /* colors */
  --primary-dex-color: #f10020;
  --primary-dex-shadow-color: #950015;
  --primary-dex-inner-color: #c52637;
  --primary-dex-border-right-color: #c9020b;
  --secondary-dex-color: #dedede;
  --hinge-color: linear-gradient(
    90deg,
    #7d0e0e 0,
    #c21919 30%,
    #e31a1a 45%,
    #f05050 60%,
    #e91212 100%
  );
  --main-screen-color: #00dbff;
  --secondary-screen-color: #292a27;
  --primary-buttons-color: #00adff;
  --secondary-buttons-color: #00adff;
  --dark-buttons-color: #00322c;
  --main-indicator-color: radial-gradient(
    circle farthest-corner at 50% 45%,
    rgb(208, 216, 218) 10%,
    rgb(109, 201, 224) 25%,
    rgb(46, 73, 152) 70%,
    rgb(31, 109, 177) 100%
  );
  --secondary-indicator-red-color: #cd001d;
  --secondary-indicator-yellow-color: #efd800;
  --secondary-indicator-green-color: #196d2f;

  /* sizes */
  --dex-max-width: 600px;
  --dex-total-height: clamp(200px, 50vw, 700px);
  --dex-panel-width: calc(var(--dex-total-height) / 1.5);
  --dex-hinge-width: calc(var(--dex-total-height) * 0.1);
  --dex-border-radius: calc(var(--dex-panel-width) * 0.1);
  --dex-triangle-width: calc(var(--dex-total-height) * 0.12);
}

@media only screen and (max-width: 769px) {
  :root {
    --dex-total-height: 100vw;
  }
}
